.BaseButton {
    background: red url("/src/icon/button.svg") no-repeat center;
    border: 0;
    cursor: pointer;
    margin-top: 64px;
    margin-bottom: 64px;
    height: 40px;
    width: 40px;    
    padding-block: 0px;
    padding-inline: 0px;
}

