.LoginForm {
    color: white;
}

.LoginForm_support {
    display: flex;
    justify-content: space-between;
    width: 424px;
    margin-top: 15px;
}

.LoginForm_name {
    font-size: 64px;
    position: absolute;
    top: 28px;
}

.LoginForm_input {
    width: 424px;
    margin-top: 24px;
}

.LoginForm_bittonLogIn {
    display: flex;
    justify-content: center;
    padding-bottom: 44px;
    margin-top: 15px;
}